
  <appSettings>
    <add key="userDbServer" value=".\sqlexpress"/>
    <add key="userDbName" value="dreamzedu_users"/>
    <add key="userDbUserName" value=""/>
    <add key="userDbPwd" value=""/>
    <add key="dbServer" value=".\sqlexpress"/>
    <add key="SecurityKey" value="Syed Moshiur Murshed"/>
    <add key="SendarId" value="MMVMRW"/>
    <add key="S1" value="R2J-S1KL-D4PI-80uP-FihP;0Ct5-PfY2-29w-9RXK-WAxy;u37Y-WU1-m6UM-bXcN-r3X;Ny0P-B8W8-2NV-Uma-VGsG;FOHR-g2EK-t45Y-cRlz-G1I"></add>
    <add key="DayCount" value="15"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>